<mat-card>
  <mat-card-title>Virtual Scroll Table (1000+ Items)</mat-card-title>
  <cdk-virtual-scroll-viewport itemSize="48" class="viewport">
    <table mat-table [dataSource]="users" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="itemName">
        <th mat-header-cell *matHeaderCellDef> Item Name </th>
        <td mat-cell *matCellDef="let element"> {{element.itemName}} </td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
      </ng-container>

      <ng-container matColumnDef="uom">
        <th mat-header-cell *matHeaderCellDef> UOM </th>
        <td mat-cell *matCellDef="let element"> {{element.uom}} </td>
      </ng-container>

      <ng-container matColumnDef="brand">
        <th mat-header-cell *matHeaderCellDef> Brand </th>
        <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
      </ng-container>

      <ng-container matColumnDef="RM">
        <th mat-header-cell *matHeaderCellDef> RM </th>
        <td mat-cell *matCellDef="let element"> {{element.RM}} </td>
      </ng-container>

      <ng-container matColumnDef="RF">
        <th mat-header-cell *matHeaderCellDef> RF </th>
        <td mat-cell *matCellDef="let element"> {{element.RF}} </td>
      </ng-container>

      <ng-container matColumnDef="unitPrice">
        <th mat-header-cell *matHeaderCellDef> Unit Price </th>
        <td mat-cell *matCellDef="let element"> {{element.unitPrice}} </td>
      </ng-container>

      <ng-container matColumnDef="extendedPrice">
        <th mat-header-cell *matHeaderCellDef> Extended Price </th>
        <td mat-cell *matCellDef="let element"> {{element.extendedPrice}} </td>
      </ng-container>

      <ng-container matColumnDef="tax">
        <th mat-header-cell *matHeaderCellDef> Tax </th>
        <td mat-cell *matCellDef="let element"> {{element.tax}} </td>
      </ng-container>

      <ng-container matColumnDef="totalPrice">
        <th mat-header-cell *matHeaderCellDef> Total Price </th>
        <td mat-cell *matCellDef="let element"> {{element.totalPrice}} </td>
      </ng-container>

      <ng-container matColumnDef="baselinePrice">
        <th mat-header-cell *matHeaderCellDef> Baseline Price </th>
        <td mat-cell *matCellDef="let element"> {{element.baselinePrice}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </cdk-virtual-scroll-viewport>
</mat-card>
